{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        ring/ring-core {:mvn/version "1.12.1"}
        ring/ring-jetty-adapter {:mvn/version "1.12.1"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        cheshire/cheshire {:mvn/version "5.13.0"}}
 :aliases
 {:run-m {:main-opts ["-m" "dev.rob-3.submarine-commander.main"]}
  :run-x {:ns-default dev.rob-3.submarine-commander.main
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.10.3" :git/sha "15ead66"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :neil {:project {:name dev.rob-3.submarine-commander.main}}

  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.1.1"}}
   :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color" "--port" "12345"]}
  :nrepl-docker
  {:extra-deps {nrepl/nrepl {:mvn/version "1.1.1"}}
   :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color" "--port" "12345" "--bind" "0.0.0.0"]}}}
