{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        ring/ring-core {:mvn/version "1.12.1"}
        ring/ring-jetty-adapter {:mvn/version "1.12.1"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        com.rpl/specter {:mvn/version "1.1.4"}}}
