* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.title {
	width: 100%;
	text-align: center;
	padding: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	padding: 4px;
}

.form {
	display: grid;
	grid-template-columns: max-content max-content;
	grid-gap: 8px;
}

.form label {
	text-align: right;
}

.form label:after {
	content: ":";
}

.submit {
	margin: auto;
}

.two-col {
	grid-column: 1 / 3;
}

.blink {
	animation: blinky 1.4s step-start infinite;
}

@keyframes blinky {
	15% { opacity: 0 }
}
